body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.corpo {
    padding-top: 30px;
}
.grid-exemplo .row div {
    border: solid 1px #FFF;
    padding: 10px;
    background-color: #c818FB;
}

.rodape {
    margin-top: 50px; 
    padding: 50px 25px 25px 25px; 
    text-align: center; 
    border-top: 1px solid #555;
}

.corrida-info {
    height: 150px;
}

.corrida-info p {
    text-align: center;
    font-size: 14px;
}

.corrida-info span {
    margin-left: 10px;
}

.corrida-info-conteudo {
    height: 104px;
    padding: 10px 5px;
    overflow: hidden;
}