<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaAdministradorController</servlet-name>
        <servlet-class>controller.PesquisaAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAtletaController</servlet-name>
        <servlet-class>controller.PesquisaAtletaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCorridaController</servlet-name>
        <servlet-class>controller.PesquisaCorridaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaLoteController</servlet-name>
        <servlet-class>controller.PesquisaLoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaKitController</servlet-name>
        <servlet-class>controller.PesquisaKitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPontuacaoController</servlet-name>
        <servlet-class>controller.PesquisaPontuacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProdutoKitController</servlet-name>
        <servlet-class>controller.PesquisaProdutoKitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaRankingController</servlet-name>
        <servlet-class>controller.PesquisaRankingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaOrganizadorController</servlet-name>
        <servlet-class>controller.PesquisaOrganizadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPercursoController</servlet-name>
        <servlet-class>controller.PesquisaPercursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaInscricaoController</servlet-name>
        <servlet-class>controller.PesquisaInscricaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterKitController</servlet-name>
        <servlet-class>controller.ManterKitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterOrganizadorController</servlet-name>
        <servlet-class>controller.ManterOrganizadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPercursoController</servlet-name>
        <servlet-class>controller.ManterPercursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterInscricaoController</servlet-name>
        <servlet-class>controller.ManterInscricaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAtletaController</servlet-name>
        <servlet-class>controller.ManterAtletaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCorridaController</servlet-name>
        <servlet-class>controller.ManterCorridaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterLoteController</servlet-name>
        <servlet-class>controller.ManterLoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAdministradorController</servlet-name>
        <servlet-class>controller.ManterAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterRankingController</servlet-name>
        <servlet-class>controller.ManterRankingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPontuacaoController</servlet-name>
        <servlet-class>controller.ManterPontuacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProdutoKitController</servlet-name>
        <servlet-class>controller.ManterProdutoKitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <servlet-class>controller.PesquisaProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProdutoController</servlet-name>
        <servlet-class>controller.ManterProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPagamentoController</servlet-name>
        <servlet-class>controller.ManterPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPagamentoController</servlet-name>
        <servlet-class>controller.PesquisaPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaResultadoCorridaController</servlet-name>
        <servlet-class>controller.PesquisaResultadoCorridaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterResultadoCorridaController</servlet-name>
        <servlet-class>controller.ManterResultadoCorridaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterRetirarKitController</servlet-name>
        <servlet-class>controller.ManterRetirarKitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaRetirarKitController</servlet-name>
        <servlet-class>controller.PesquisaRetirarKitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaHomeController</servlet-name>
        <servlet-class>controller.PesquisaHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaAdministradorController</servlet-name>
        <url-pattern>/PesquisaAdministradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAtletaController</servlet-name>
        <url-pattern>/PesquisaAtletaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCorridaController</servlet-name>
        <url-pattern>/PesquisaCorridaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaLoteController</servlet-name>
        <url-pattern>/PesquisaLoteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaKitController</servlet-name>
        <url-pattern>/PesquisaKitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPontuacaoController</servlet-name>
        <url-pattern>/PesquisaPontuacaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProdutoKitController</servlet-name>
        <url-pattern>/PesquisaProdutoKitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaRankingController</servlet-name>
        <url-pattern>/PesquisaRankingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaOrganizadorController</servlet-name>
        <url-pattern>/PesquisaOrganizadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPercursoController</servlet-name>
        <url-pattern>/PesquisaPercursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaInscricaoController</servlet-name>
        <url-pattern>/PesquisaInscricaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterKitController</servlet-name>
        <url-pattern>/ManterKitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterOrganizadorController</servlet-name>
        <url-pattern>/ManterOrganizadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPercursoController</servlet-name>
        <url-pattern>/ManterPercursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterInscricaoController</servlet-name>
        <url-pattern>/ManterInscricaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAtletaController</servlet-name>
        <url-pattern>/ManterAtletaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCorridaController</servlet-name>
        <url-pattern>/ManterCorridaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterLoteController</servlet-name>
        <url-pattern>/ManterLoteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAdministradorController</servlet-name>
        <url-pattern>/ManterAdministradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterRankingController</servlet-name>
        <url-pattern>/ManterRankingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPontuacaoController</servlet-name>
        <url-pattern>/ManterPontuacaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProdutoKitController</servlet-name>
        <url-pattern>/ManterProdutoKitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <url-pattern>/PesquisaProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProdutoController</servlet-name>
        <url-pattern>/ManterProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPagamentoController</servlet-name>
        <url-pattern>/ManterPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPagamentoController</servlet-name>
        <url-pattern>/PesquisaPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaResultadoCorridaController</servlet-name>
        <url-pattern>/PesquisaResultadoCorridaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterResultadoCorridaController</servlet-name>
        <url-pattern>/ManterResultadoCorridaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterRetirarKitController</servlet-name>
        <url-pattern>/ManterRetirarKitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaRetirarKitController</servlet-name>
        <url-pattern>/PesquisaRetirarKitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaHomeController</servlet-name>
        <url-pattern>/PesquisaHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>PesquisaHomeController</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>web.IndexServlet</servlet-class>
    </servlet>
</web-app>
