<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaAdministradorController</servlet-name>
        <servlet-class>controller.PesquisaAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAtletaController</servlet-name>
        <servlet-class>controller.PesquisaAtletaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCorridaController</servlet-name>
        <servlet-class>controller.PesquisaCorridaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaIngressoController</servlet-name>
        <servlet-class>controller.PesquisaIngressoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaAdministradorController</servlet-name>
        <url-pattern>/PesquisaAdministradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAtletaController</servlet-name>
        <url-pattern>/PesquisaAtletaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCorridaController</servlet-name>
        <url-pattern>/PesquisaCorridaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaIngressoController</servlet-name>
        <url-pattern>/PesquisaIngressoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
